<%- include("layouts/header") -%>


<link href="/stylesheets/output.css" rel="stylesheet">

<!-- TODO: Error Page, displaying error -->
<!-- Clients -->
  <div class="text-center">
      <h1 class="text-9xl font-bold text-gray-800">404</h1>
      <h2 class="text-4xl font-semibold mb-4">Oops! Page not found</h2>
      <p class="text-lg text-gray-700 mb-8">The page you are looking for might have been removed or doesn't exist.</p>
      <a href="/" class="text-lg text-indigo-600 hover:underline">Go back to home</a>
  </div>


  <%- include("layouts/footer") -%>
