<link href="/stylesheets/output.css" rel="stylesheet">

<!-- TODO: Error Page, displaying error -->
<!-- Clients -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="sm:w-1/2 xl:w-1/3 mx-auto text-center mb-6 md:mb-12">
      <h2 class="text-xl font-semibold md:text-2xl md:leading-tight text-gray-800 dark:text-gray-200">Trusted by Open Source, enterprise, and more than 99,000 of you</h2>
    </div>
    <!-- End Title -->
  
<h1 class="text-blue-500 font-bold underline">Error </h1>

